<div ng-form="end">
    <h1>Edit Party</h1>
    <div id="party" ng-form="editParty">
        <div class="PanelField Left">
            <div style="display: inline;">
                <label for="FirstName" class="Required">First Name</label>
            </div>
            <div class="PanelFieldValue">
                <input id="FirstName" type="text" name="FirstName" data-ng-model="vm.party.PersonName.FirstName" ng-required="true" data-ng-change="vm.partyDataChanged()" class="text-box single-line">
                <span class="ValidationError" ng-show="editParty.FirstName.$error.required"> Required!</span>
            </div>
        </div>
        <div class="PanelField Left">
            <div style="display: inline;">
                <label for="LastName" class="Required">Last Name</label>
            </div>
            <div class="PanelFieldValue">
                <input id="LastName" type="text" name="LastName" data-ng-model="vm.party.PersonName.LastName" ng-required="true" data-ng-change="vm.partyDataChanged()" class="text-box single-line">
                <span class="ValidationError" ng-show="editParty.LastName.$error.required"> Required!</span>
            </div>
        </div>
        <div class="PanelField Left">
            <div style="display: inline;">
                <label for="Organization">Organization</label>
            </div>
            <div class="PanelFieldValue InputXLargeWrapper">
                <input id="Organization" type="text" name="batchDate" data-ng-model="vm.party.PrimaryOrganization.Name" data-ng-change="vm.partyDataChanged()" class="text-box single-line">
            </div>
        </div>
        <div ng-repeat="address in vm.party.Addresses" ng-show="$first">
            <div class="PanelField Left">
                <div style="display: inline;">
                    <label for="Address">Address</label>
                </div>
                <div class="PanelFieldValue">
                    <input id="Address" type="text" data-ng-model="address.Address.AddressLines[0]" data-ng-change="vm.partyDataChanged()" class="text-box single-line">
                </div>
            </div>
            <div class="PanelField Left">
                <div style="display: inline;">
                    <label for="PostalCode">Postal Code</label>
                </div>
                <div class="PanelFieldValue">
                    <input id="PostalCode" type="text" data-ng-model="address.Address.PostalCode" data-ng-change="vm.partyDataChanged()" class="text-box single-line">
                </div>
            </div>
        </div>

        <input type="button" ng-disabled="editParty.$invalid" ng-click="vm.saveParty()" id="save" value="Save Party" class="TextButton PrimaryButton">
        <input type="button" ng-click="vm.cancel()" id="end" value="Cancel" class="TextButton">
        <span style="color: red;">{{vm.successAlert}}</span>
    </div>
</div>
